<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>name</key>
		<string>emoji_01</string>
		<key>resid</key>
		<string>emoji_01</string>
	</dict>
	<key>02</key>
	<dict>
		<key>name</key>
		<string>emoji_02</string>
		<key>resid</key>
		<string>emoji_02</string>
	</dict>
	<key>03</key>
	<dict>
		<key>name</key>
		<string>emoji_03</string>
		<key>resid</key>
		<string>emoji_03</string>
	</dict>
	<key>04</key>
	<dict>
		<key>name</key>
		<string>emoji_04</string>
		<key>resid</key>
		<string>emoji_04</string>
	</dict>
	<key>05</key>
	<dict>
		<key>name</key>
		<string>emoji_05</string>
		<key>resid</key>
		<string>emoji_05</string>
	</dict>
	<key>06</key>
	<dict>
		<key>name</key>
		<string>emoji_06</string>
		<key>resid</key>
		<string>emoji_06</string>
	</dict>
	<key>07</key>
	<dict>
		<key>name</key>
		<string>emoji_07</string>
		<key>resid</key>
		<string>emoji_07</string>
	</dict>
	<key>08</key>
	<dict>
		<key>name</key>
		<string>emoji_08</string>
		<key>resid</key>
		<string>emoji_08</string>
	</dict>
	<key>09</key>
	<dict>
		<key>name</key>
		<string>emoji_09</string>
		<key>resid</key>
		<string>emoji_09</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>emoji_10</string>
		<key>resid</key>
		<string>emoji_10</string>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>emoji_11</string>
		<key>resid</key>
		<string>emoji_11</string>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>emoji_12</string>
		<key>resid</key>
		<string>emoji_12</string>
	</dict>
	<key>13</key>
	<dict>
		<key>name</key>
		<string>emoji_13</string>
		<key>resid</key>
		<string>emoji_13</string>
	</dict>
	<key>14</key>
	<dict>
		<key>name</key>
		<string>emoji_14</string>
		<key>resid</key>
		<string>emoji_14</string>
	</dict>
	<key>15</key>
	<dict>
		<key>name</key>
		<string>emoji_15</string>
		<key>resid</key>
		<string>emoji_15</string>
	</dict>
	<key>16</key>
	<dict>
		<key>name</key>
		<string>emoji_16</string>
		<key>resid</key>
		<string>emoji_16</string>
	</dict>
	<key>17</key>
	<dict>
		<key>name</key>
		<string>emoji_17</string>
		<key>resid</key>
		<string>emoji_17</string>
	</dict>
	<key>18</key>
	<dict>
		<key>name</key>
		<string>emoji_18</string>
		<key>resid</key>
		<string>emoji_18</string>
	</dict>
	<key>19</key>
	<dict>
		<key>name</key>
		<string>emoji_19</string>
		<key>resid</key>
		<string>emoji_19</string>
	</dict>
	<key>20</key>
	<dict>
		<key>name</key>
		<string>emoji_20</string>
		<key>resid</key>
		<string>emoji_20</string>
	</dict>
	<key>21</key>
	<dict>
		<key>name</key>
		<string>emoji_21</string>
		<key>resid</key>
		<string>emoji_21</string>
	</dict>
	<key>22</key>
	<dict>
		<key>name</key>
		<string>emoji_22</string>
		<key>resid</key>
		<string>emoji_22</string>
	</dict>
	<key>23</key>
	<dict>
		<key>name</key>
		<string>emoji_23</string>
		<key>resid</key>
		<string>emoji_23</string>
	</dict>
	<key>24</key>
	<dict>
		<key>name</key>
		<string>emoji_24</string>
		<key>resid</key>
		<string>emoji_24</string>
	</dict>
	<key>25</key>
	<dict>
		<key>name</key>
		<string>emoji_25</string>
		<key>resid</key>
		<string>emoji_25</string>
	</dict>
	<key>26</key>
	<dict>
		<key>name</key>
		<string>emoji_26</string>
		<key>resid</key>
		<string>emoji_26</string>
	</dict>
	<key>27</key>
	<dict>
		<key>name</key>
		<string>emoji_27</string>
		<key>resid</key>
		<string>emoji_27</string>
	</dict>
	<key>28</key>
	<dict>
		<key>name</key>
		<string>emoji_28</string>
		<key>resid</key>
		<string>emoji_28</string>
	</dict>
	<key>29</key>
	<dict>
		<key>name</key>
		<string>emoji_29</string>
		<key>resid</key>
		<string>emoji_29</string>
	</dict>
	<key>30</key>
	<dict>
		<key>name</key>
		<string>emoji_30</string>
		<key>resid</key>
		<string>emoji_30</string>
	</dict>
	<key>31</key>
	<dict>
		<key>name</key>
		<string>emoji_31</string>
		<key>resid</key>
		<string>emoji_31</string>
	</dict>
	<key>32</key>
	<dict>
		<key>name</key>
		<string>emoji_32</string>
		<key>resid</key>
		<string>emoji_32</string>
	</dict>
	<key>33</key>
	<dict>
		<key>name</key>
		<string>emoji_33</string>
		<key>resid</key>
		<string>emoji_33</string>
	</dict>
	<key>34</key>
	<dict>
		<key>name</key>
		<string>emoji_34</string>
		<key>resid</key>
		<string>emoji_34</string>
	</dict>
	<key>35</key>
	<dict>
		<key>name</key>
		<string>emoji_35</string>
		<key>resid</key>
		<string>emoji_35</string>
	</dict>
	<key>36</key>
	<dict>
		<key>name</key>
		<string>emoji_36</string>
		<key>resid</key>
		<string>emoji_36</string>
	</dict>
	<key>37</key>
	<dict>
		<key>name</key>
		<string>emoji_37</string>
		<key>resid</key>
		<string>emoji_37</string>
	</dict>
	<key>38</key>
	<dict>
		<key>name</key>
		<string>emoji_38</string>
		<key>resid</key>
		<string>emoji_38</string>
	</dict>
	<key>39</key>
	<dict>
		<key>name</key>
		<string>emoji_39</string>
		<key>resid</key>
		<string>emoji_39</string>
	</dict>
	<key>40</key>
	<dict>
		<key>name</key>
		<string>emoji_40</string>
		<key>resid</key>
		<string>emoji_40</string>
	</dict>
	<key>41</key>
	<dict>
		<key>name</key>
		<string>emoji_41</string>
		<key>resid</key>
		<string>emoji_41</string>
	</dict>
	<key>42</key>
	<dict>
		<key>name</key>
		<string>emoji_42</string>
		<key>resid</key>
		<string>emoji_42</string>
	</dict>
	<key>43</key>
	<dict>
		<key>name</key>
		<string>emoji_43</string>
		<key>resid</key>
		<string>emoji_43</string>
	</dict>
	<key>44</key>
	<dict>
		<key>name</key>
		<string>emoji_44</string>
		<key>resid</key>
		<string>emoji_44</string>
	</dict>
	<key>45</key>
	<dict>
		<key>name</key>
		<string>emoji_45</string>
		<key>resid</key>
		<string>emoji_45</string>
	</dict>
	<key>46</key>
	<dict>
		<key>name</key>
		<string>emoji_46</string>
		<key>resid</key>
		<string>emoji_46</string>
	</dict>
	<key>47</key>
	<dict>
		<key>name</key>
		<string>emoji_47</string>
		<key>resid</key>
		<string>emoji_47</string>
	</dict>
	<key>48</key>
	<dict>
		<key>name</key>
		<string>emoji_48</string>
		<key>resid</key>
		<string>emoji_48</string>
	</dict>
	<key>49</key>
	<dict>
		<key>name</key>
		<string>emoji_49</string>
		<key>resid</key>
		<string>emoji_49</string>
	</dict>
	<key>50</key>
	<dict>
		<key>name</key>
		<string>emoji_50</string>
		<key>resid</key>
		<string>emoji_50</string>
	</dict>
	<key>51</key>
	<dict>
		<key>name</key>
		<string>emoji_51</string>
		<key>resid</key>
		<string>emoji_51</string>
	</dict>
	<key>52</key>
	<dict>
		<key>name</key>
		<string>emoji_52</string>
		<key>resid</key>
		<string>emoji_52</string>
	</dict>
	<key>53</key>
	<dict>
		<key>name</key>
		<string>emoji_53</string>
		<key>resid</key>
		<string>emoji_53</string>
	</dict>
	<key>54</key>
	<dict>
		<key>name</key>
		<string>emoji_54</string>
		<key>resid</key>
		<string>emoji_54</string>
	</dict>
	<key>55</key>
	<dict>
		<key>name</key>
		<string>emoji_55</string>
		<key>resid</key>
		<string>emoji_55</string>
	</dict>
	<key>56</key>
	<dict>
		<key>name</key>
		<string>emoji_56</string>
		<key>resid</key>
		<string>emoji_56</string>
	</dict>
	<key>57</key>
	<dict>
		<key>name</key>
		<string>emoji_57</string>
		<key>resid</key>
		<string>emoji_57</string>
	</dict>
	<key>58</key>
	<dict>
		<key>name</key>
		<string>emoji_58</string>
		<key>resid</key>
		<string>emoji_58</string>
	</dict>
	<key>59</key>
	<dict>
		<key>name</key>
		<string>emoji_59</string>
		<key>resid</key>
		<string>emoji_59</string>
	</dict>
	<key>60</key>
	<dict>
		<key>name</key>
		<string>emoji_60</string>
		<key>resid</key>
		<string>emoji_60</string>
	</dict>
	<key>61</key>
	<dict>
		<key>name</key>
		<string>emoji_61</string>
		<key>resid</key>
		<string>emoji_61</string>
	</dict>
	<key>62</key>
	<dict>
		<key>name</key>
		<string>emoji_62</string>
		<key>resid</key>
		<string>emoji_62</string>
	</dict>
	<key>63</key>
	<dict>
		<key>name</key>
		<string>emoji_63</string>
		<key>resid</key>
		<string>emoji_63</string>
	</dict>
	<key>64</key>
	<dict>
		<key>name</key>
		<string>emoji_64</string>
		<key>resid</key>
		<string>emoji_64</string>
	</dict>
	<key>65</key>
	<dict>
		<key>name</key>
		<string>emoji_65</string>
		<key>resid</key>
		<string>emoji_65</string>
	</dict>
	<key>66</key>
	<dict>
		<key>name</key>
		<string>emoji_66</string>
		<key>resid</key>
		<string>emoji_66</string>
	</dict>
	<key>67</key>
	<dict>
		<key>name</key>
		<string>emoji_67</string>
		<key>resid</key>
		<string>emoji_67</string>
	</dict>
	<key>68</key>
	<dict>
		<key>name</key>
		<string>emoji_68</string>
		<key>resid</key>
		<string>emoji_68</string>
	</dict>
	<key>69</key>
	<dict>
		<key>name</key>
		<string>emoji_69</string>
		<key>resid</key>
		<string>emoji_69</string>
	</dict>
	<key>70</key>
	<dict>
		<key>name</key>
		<string>emoji_70</string>
		<key>resid</key>
		<string>emoji_70</string>
	</dict>
	<key>71</key>
	<dict>
		<key>name</key>
		<string>emoji_71</string>
		<key>resid</key>
		<string>emoji_71</string>
	</dict>
	<key>72</key>
	<dict>
		<key>name</key>
		<string>emoji_72</string>
		<key>resid</key>
		<string>emoji_72</string>
	</dict>
	<key>73</key>
	<dict>
		<key>name</key>
		<string>emoji_73</string>
		<key>resid</key>
		<string>emoji_73</string>
	</dict>
	<key>74</key>
	<dict>
		<key>name</key>
		<string>emoji_74</string>
		<key>resid</key>
		<string>emoji_74</string>
	</dict>
</dict>
</plist>
