<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>resid</key>
		<string>01</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>Biu</string>
		<key>path</key>
		<string>audio_01</string>
	</dict>
	<key>02</key>
	<dict>
		<key>resid</key>
		<string>02</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>Ca</string>
		<key>path</key>
		<string>audio_02</string>
	</dict>
	<key>03</key>
	<dict>
		<key>resid</key>
		<string>03</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>Wei</string>
		<key>path</key>
		<string>audio_03</string>
	</dict>
	<key>04</key>
	<dict>
		<key>resid</key>
		<string>04</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>WJJJSNJQ</string>
		<key>path</key>
		<string>audio_04</string>
	</dict>
	<key>05</key>
	<dict>
		<key>resid</key>
		<string>05</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>Shoot</string>
		<key>path</key>
		<string>audio_05</string>
	</dict>
	<key>06</key>
	<dict>
		<key>resid</key>
		<string>06</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>2</string>
		<key>path</key>
		<string>audio_06</string>
	</dict>
	<key>07</key>
	<dict>
		<key>resid</key>
		<string>07</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>B</string>
		<key>path</key>
		<string>audio_07</string>
	</dict>
	<key>08</key>
	<dict>
		<key>resid</key>
		<string>08</string>
		<key>name</key>
		<string>emoji_audio</string>
		<key>content</key>
		<string>La</string>
		<key>path</key>
		<string>audio_08</string>
	</dict>
</dict>
</plist>
